<div class="clearfix"></div>
<br clear="all" />
<footer>
	Copyright 2011, TripMedi. · tripmedi@gmail.com · (646) 470-MEDI
</footer>

<div class="bubble">
	<p style="margin: 0;">Support TripMedi! <a href="https://spreadsheets.google.com/embeddedform?formkey=dGVBODVuU2lyY1dGTC1Tdlg0b2o1MUE6MQ" class="iframe launchpage">Sign up here </a> <br> then <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.tripmedi.com/index2" target="_blank">Share on Facebook</a> and <a href="http://twitter.com/home?status=NYC%20team%20made%20it%20to%20finals%20of%20%23StartupBus.%20Support%20TripMedi%20by%20signing%20up%20%26%20retweeting!%20http%3A%2F%2Fwww.tripmedi.com%2F">Twitter</a>!</p>
</div>
