<header>
	<a href="/">
		<img class="logo" src="/static/images/logo-185.png" alt="TripMedi" />
	</a>

	<nav class="nav-main">
		<ul>
			<li><a href="/">Find healthcare</a></li>
			<li><a href="/tourism">Medical tourism</a></li>
			<li><a href="/about">About TripMedi</a></li>
		</ul>
	</nav>
		
	<div class="clearfix"></div>
</header>

<script type="text/javascript">
$(document).ready(function() {
	$(".bubble").css("top", "-60px").delay("1000").animate({top: "20px"}, 2000);
	$(".launchpage").fancybox().click();
});
</script>
