/*
Syntax error: Invalid CSS after "...linear-gradient": expected "{", was "(color_stops(#F..."
        on line 273 of /Users/cemre/projects/tripmedi/static/scss/screen.scss

Backtrace:
/Users/cemre/projects/tripmedi/static/scss/screen.scss:273
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:821:in `expected'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:796:in `expected'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:792:in `tok!'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:321:in `block'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:316:in `ruleset'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:384:in `declaration_or_ruleset'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:340:in `block_child'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:333:in `block_contents'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:322:in `block'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:316:in `ruleset'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:384:in `declaration_or_ruleset'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:340:in `block_child'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:333:in `block_contents'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:322:in `block'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:316:in `ruleset'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:339:in `block_child'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:333:in `block_contents'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:26:in `parse'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/engine.rb:205:in `_to_tree'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/engine.rb:196:in `_render'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/engine.rb:168:in `block in render'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/haml/util.rb:289:in `silence_haml_warnings'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/engine.rb:168:in `render'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/compiler.rb:103:in `block in compile'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/logger.rb:43:in `red'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/compiler.rb:102:in `compile'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/compiler.rb:93:in `compile_if_required'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/compiler.rb:84:in `block in run'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `each'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/compiler.rb:82:in `run'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:92:in `recompile'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/path.rb:34:in `update'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in modified'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/commands/watch_project.rb:61:in `perform'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/commands/base.rb:18:in `execute'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/commands/project_base.rb:19:in `execute'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/bin/compass:26:in `<top (required)>'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/bin/compass:19:in `load'
/Users/cemre/.rvm/gems/ruby-1.9.2-p0/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...linear-gradient\": expected \"{\", was \"(color_stops(#F...\"\A         on line 273 of /Users/cemre/projects/tripmedi/static/scss/screen.scss"; }
