/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 14, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

@charset "UTF-8";
@font-face {
  font-family: 'off-med';
  src: url("medium.eot");
  src: url("medium.eot?iefix") format("eot"), url("medium.woff") format("woff"), url("medium.ttf") format("truetype"), url("medium.svg#webfontv0ZuWj5C") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'off-bold';
  src: url("bold.eot");
  src: url("bold.eot?iefix") format("eot"), url("bold.woff") format("woff"), url("bold.ttf") format("truetype"), url("bold.svg#webfontv0ZuWj5C") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'off-book';
  src: url("book.eot");
  src: url("book.eot?iefix") format("eot"), url("book.woff") format("woff"), url("book.ttf") format("truetype"), url("book.svg#webfontv0ZuWj5C") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 66, ../scss/screen.scss */
h3 {
  font-size: 12px;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #b4b1b1;
  margin-bottom: 2px;
}

/* line 76, ../scss/screen.scss */
p {
  margin-bottom: 1em;
  color: #333;
}

/* line 81, ../scss/screen.scss */
p + p {
  margin-bottom: 0;
}

/* line 85, ../scss/screen.scss */
p + ul {
  margin-top: -1em;
}

/* line 89, ../scss/screen.scss */
h1 {
  font-family: 'off-book', Georgia;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 10px;
}

/* line 96, ../scss/screen.scss */
h2 {
  font-size: 18px;
  font-weight: bold;
}

/* line 101, ../scss/screen.scss */
strong, b {
  font-weight: bold;
}

/* line 104, ../scss/screen.scss */
body {
  font: 13px/1.25 "Helvetica Neue", Arial;
  color: #222;
}

/* line 109, ../scss/screen.scss */
a, a:link, a:visited {
  color: #00516c;
  text-decoration: none;
}

/* line 114, ../scss/screen.scss */
a:hover {
  color: #00516c;
  text-decoration: underline;
}

/* line 120, ../scss/screen.scss */
table {
  width: 100%;
}

/* line 124, ../scss/screen.scss */
table td {
  vertical-align: top;
}

/* line 127, ../scss/screen.scss */
::-moz-selection {
  background: #AB2B1B;
  color: #fff;
  text-shadow: none;
}

/* line 128, ../scss/screen.scss */
::selection {
  background: #AB2B1B;
  color: #fff;
  text-shadow: none;
}

/* line 131, ../scss/screen.scss */
ul {
  margin: 0;
  padding: 0 0 0 15px;
  list-style: circle;
}

/* line 137, ../scss/screen.scss */
.master-container {
  position: relative;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 141, ../scss/screen.scss */
.master-container aside {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 220px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .master-container aside {
  overflow-x: hidden;
}
/* line 145, ../scss/screen.scss */
.master-container .content-area {
  display: inline;
  float: left;
  margin-right: 0;
  width: 700px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .master-container .content-area {
  overflow-x: hidden;
}

/* line 151, ../scss/screen.scss */
header {
  position: relative;
  margin-bottom: 30px;
  border-bottom: 1px solid #ddd;
  height: 60px;
}

/* line 158, ../scss/screen.scss */
header .logo {
  float: left;
  padding: 5px 10px 0;
}

/* line 163, ../scss/screen.scss */
nav li {
  float: left;
  border-left: 1px solid #ddd;
}

/* line 169, ../scss/screen.scss */
nav li a {
  font-weight: bold;
  display: block;
  padding: 0 15px;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
}
/* line 176, ../scss/screen.scss */
nav li a span {
  font-size: 12px;
}

/* line 181, ../scss/screen.scss */
.nav-aux {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
}
/* line 187, ../scss/screen.scss */
.nav-aux li {
  border: 0;
}
/* line 191, ../scss/screen.scss */
.nav-aux a {
  display: inline;
  padding: 0;
}

/* line 198, ../scss/screen.scss */
.aside-content {
  background: #f6f4ed url(../images/noise50.png) repeat;
  padding: 10px;
  margin-bottom: 20px;
}
/* line 203, ../scss/screen.scss */
.aside-content .aside-part {
  margin: 0 0 20px;
}
/* line 206, ../scss/screen.scss */
.aside-content .aside-part p {
  font-size: 13px;
  line-height: 1.25;
  margin-bottom: 10px;
  font-weight: medium;
}
/* line 213, ../scss/screen.scss */
.aside-content .aside-part h3 {
  margin-bottom: 5px;
}

/* line 226, ../scss/screen.scss */
table.results td {
  padding-bottom: 20px;
  vertical-align: middle;
}
/* line 231, ../scss/screen.scss */
table.results .p-name, table.results .p-rep, table.results .p-cost, table.results .p-travel {
  padding-right: 20px;
}
/* line 238, ../scss/screen.scss */
table.results .p-buttons {
  width: 150px;
  text-align: right;
}
/* line 243, ../scss/screen.scss */
table.results .p-name {
  font-weight: medium;
  font-size: 15px;
}
/* line 247, ../scss/screen.scss */
table.results .p-name span {
  color: #b4b1b1;
}
/* line 252, ../scss/screen.scss */
table.results .p-exp {
  display: block;
  padding-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #b4b1b1;
  font-style: italic;
}
/* line 261, ../scss/screen.scss */
table.results .p-rep-img {
  background-image: url(../images/ratings.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 57px;
  height: 12px;
}
/* line 269, ../scss/screen.scss */
table.results .p-rep-1 .p-rep-img {
  background-position: 0 -36px;
}
/* line 273, ../scss/screen.scss */
table.results .p-rep-2 .p-rep-img {
  background-position: 0 -24px;
}
/* line 277, ../scss/screen.scss */
table.results .p-rep-3 .p-rep-img {
  background-position: 0 -12px;
}
/* line 281, ../scss/screen.scss */
table.results .p-rep-4 .p-rep-img {
  background-position: 0 0;
}
/* line 290, ../scss/screen.scss */
table.results .p-cost div {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #333;
}
/* line 296, ../scss/screen.scss */
table.results .p-cost-1 div {
  color: #99CC00;
}
/* line 297, ../scss/screen.scss */
table.results .p-cost-2 div {
  color: #D3CC00;
}
/* line 298, ../scss/screen.scss */
table.results .p-cost-3 div {
  color: #F4CC00;
}
/* line 299, ../scss/screen.scss */
table.results .p-cost-4 div {
  color: #F4A000;
}
/* line 300, ../scss/screen.scss */
table.results .p-cost-5 div {
  color: #E35A00;
}
/* line 301, ../scss/screen.scss */
table.results .p-cost-6 div {
  color: #CE0700;
}
/* line 303, ../scss/screen.scss */
table.results .p-travel-1 img {
  background-color: #EFEFEF;
}
/* line 304, ../scss/screen.scss */
table.results .p-travel-2 img {
  background-color: #C3C3C3;
}
/* line 305, ../scss/screen.scss */
table.results .p-travel-3 img {
  background-color: #909090;
}
/* line 306, ../scss/screen.scss */
table.results .p-travel-4 img {
  background-color: #616161;
}
/* line 307, ../scss/screen.scss */
table.results .p-travel-5 img {
  background-color: #323232;
}
/* line 308, ../scss/screen.scss */
table.results .p-travel-6 img {
  background-color: #010101;
}
/* line 310, ../scss/screen.scss */
table.results .p-travel span {
  display: block;
  float: left;
  padding: 7px 0 0 5px;
  text-align: left;
}
/* line 317, ../scss/screen.scss */
table.results .p-travel-img {
  color: #000;
  height: 30px;
  font-weight: bold;
}
/* line 323, ../scss/screen.scss */
table.results .p-travel img {
  float: left;
}
/* line 327, ../scss/screen.scss */
table.results thead td {
  vertical-align: bottom;
  font-size: 12px !important;
  font-weight: bold;
  color: #b4b1b1;
  text-transform: uppercase;
  padding-bottom: 5px;
  line-height: 1;
}
/* line 337, ../scss/screen.scss */
table.results td.filter {
  padding: 20px;
  font: 13px;
  color: #000;
}

/* line 345, ../scss/screen.scss */
a.a-button {
  background-color: #C3BEB5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e8e4d7), color-stop(100%, #c3beb5));
  background-image: -moz-linear-gradient(top, #e8e4d7 0%, #c3beb5 100%);
  background-image: linear-gradient(top, #e8e4d7 0%, #c3beb5 100%);
  -pie-background: linear-gradient(#f3f1ea, #dedbd6);
  -moz-box-shadow: white 0 1px 0 0 inset;
  -webkit-box-shadow: white 0 1px 0 0 inset;
  -o-box-shadow: white 0 1px 0 0 inset;
  box-shadow: white 0 1px 0 0 inset;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -ms-border-radius: 30px;
  -khtml-border-radius: 30px;
  border-radius: 30px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-shadow: white 0 -1px 0;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 8px 10px;
  border: 1px solid #A09D9D;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
}
/* line 373, ../scss/screen.scss */
a.a-button.large {
  font-size: 15px;
  padding: 8px 15px;
}
/* line 378, ../scss/screen.scss */
a.a-button:hover {
  border-color: #535151;
  text-decoration: none;
}
/* line 383, ../scss/screen.scss */
a.a-button:active {
  padding-top: 9px;
  padding-bottom: 7px;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #dedbd6), color-stop(100%, #f3f1ea));
  background-image: -moz-linear-gradient(top, #dedbd6 0%, #f3f1ea 100%);
  background-image: linear-gradient(top, #dedbd6 0%, #f3f1ea 100%);
  -pie-background: linear-gradient(#dedbd6, #f3f1ea);
}

/* line 392, ../scss/screen.scss */
sup {
  font-size: 80%;
  font-weight: bold;
}

/* line 397, ../scss/screen.scss */
.splash {
  background: url(../images/splash1.jpg) no-repeat 50% 50%;
  width: 100%;
  height: 280px;
  position: relative;
}
/* line 403, ../scss/screen.scss */
.splash .splash-box2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px 20px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/* line 412, ../scss/screen.scss */
.splash .splash-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 15px 20px 20px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}
/* line 420, ../scss/screen.scss */
.splash .splash-box h1 {
  font-size: 32px;
  color: #fff;
  line-height: 1.2;
  margin: 0 0 15px;
}
/* line 427, ../scss/screen.scss */
.splash .splash-box h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #999;
  color: rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
}
/* line 436, ../scss/screen.scss */
.splash .splash-box select {
  font-size: 16px;
  padding: 2px;
  border: 1px solid #b4b1b1;
  width: 80%;
}
/* line 443, ../scss/screen.scss */
.splash .splash-box .a-button {
  padding-top: 5px;
  padding-bottom: 5px;
}

@-webkit-keyframes 'glow' {
  /* line 453, ../scss/screen.scss */
  0% {
    border-color: #b3d940;
    -webkit-box-shadow: 0 0 1px #b3d940;
  }

  /* line 457, ../scss/screen.scss */
  100% {
    border-color: #b3d940;
    -webkit-box-shadow: 0 0 20px #b3d940;
  }
}

/* line 463, ../scss/screen.scss */
.select {
  position: relative;
  width: auto;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  font-size: 16px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  -webkit-animation-name: 'glow';
  -webkit-animation-duration: .7s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}
/* line 490, ../scss/screen.scss */
.select .select-visible {
  padding: 5px 10px;
  font-weight: bold;
}
/* line 495, ../scss/screen.scss */
.select .select-body {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  position: absolute;
  bottom: -5px;
  left: -2px;
  width: 100%;
  background: #fff;
  background: rgba(255, 255, 255, 0.97);
  padding: 5px;
  opacity: 0;
  -webkit-transition: opacity 0.3s linear;
}
/* line 509, ../scss/screen.scss */
.select .circle {
  position: absolute;
  top: 4px;
  right: 5px;
}
/* line 515, ../scss/screen.scss */
.select:hover .select-body {
  -webkit-transition: opacity 0.3s linear;
  display: block;
  opacity: 1;
}
/* line 521, ../scss/screen.scss */
.select h3 {
  float: left;
  width: 80px;
  text-align: right;
  margin-right: 10px;
  line-height: 24px;
}
/* line 529, ../scss/screen.scss */
.select .group {
  float: left;
  width: 210px;
  line-height: 24px;
  font-size: 15px;
  margin-bottom: 0.5em;
}
/* line 535, ../scss/screen.scss */
.select .group a {
  display: block;
  color: #222;
}

/* line 544, ../scss/screen.scss */
#homepage {
  font-size: 16px;
}
/* line 546, ../scss/screen.scss */
#homepage header {
  margin-bottom: 0;
}
/* line 552, ../scss/screen.scss */
#homepage p {
  color: #333;
  line-height: 1.5;
}
/* line 557, ../scss/screen.scss */
#homepage li {
  line-height: 1.5;
}
/* line 561, ../scss/screen.scss */
#homepage .tagline {
  width: 460px;
  margin: 50px 0 20px;
  background: url(../images/icon2.png) 20px 50% no-repeat;
  padding-left: 140px;
}
/* line 567, ../scss/screen.scss */
#homepage .tagline p {
  font-weight: bold;
}
/* line 571, ../scss/screen.scss */
#homepage .tagline p span.highlight {
  padding: 1px 3px;
  background: #fc0;
}
/* line 578, ../scss/screen.scss */
#homepage aside {
  display: inline;
  float: left;
  margin-right: 0;
  width: 300px;
  margin-top: 30px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #homepage aside {
  overflow-x: hidden;
}
/* line 582, ../scss/screen.scss */
#homepage aside .aside-content {
  padding: 20px;
}
/* line 589, ../scss/screen.scss */
#homepage .content-area {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 620px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #homepage .content-area {
  overflow-x: hidden;
}

/* line 595, ../scss/screen.scss */
.faq {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 540px;
  font-size: 15px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .faq {
  overflow-x: hidden;
}
/* line 600, ../scss/screen.scss */
.faq h2 {
  font-size: 20px;
  margin-top: 2em;
}

/* line 608, ../scss/screen.scss */
form label {
  font-size: 15px;
  font-weight: bold;
  color: #343232;
  display: block;
  padding-bottom: 2px;
}
/* line 616, ../scss/screen.scss */
form label.long {
  font-size: 13px;
}
/* line 620, ../scss/screen.scss */
form .input-text, form textarea {
  font-size: 15px;
  border: 1px solid #b4b1b1;
  padding: 3px;
  font-family: inherit;
  margin-bottom: 1em;
  width: 95%;
}
/* line 629, ../scss/screen.scss */
form .if-you {
  font-size: 12px;
  color: #b4b1b1;
}

/* line 637, ../scss/screen.scss */
#selection aside {
  font-size: 15px;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 220px;
}
/* line 57, ../scss/screen.scss */
#selection aside h3 {
  margin-top: 20px;
}
/* line 61, ../scss/screen.scss */
#selection aside h3:first-child {
  margin-top: 0;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #selection aside {
  overflow-x: hidden;
}
/* line 645, ../scss/screen.scss */
#selection aside img {
  margin-bottom: 20px;
}
/* line 649, ../scss/screen.scss */
#selection aside .flight, #selection aside .links, #selection aside ul {
  font-size: 13px;
  line-height: 1.5;
}
/* line 654, ../scss/screen.scss */
#selection aside .links {
  margin-top: 5px;
}
/* line 657, ../scss/screen.scss */
#selection aside .links a {
  display: block;
}
/* line 664, ../scss/screen.scss */
#selection .hospital-info {
  display: inline;
  float: left;
  margin-right: 20px;
  width: 300px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #selection .hospital-info {
  overflow-x: hidden;
}
/* line 57, ../scss/screen.scss */
#selection .hospital-info h3 {
  margin-top: 20px;
}
/* line 61, ../scss/screen.scss */
#selection .hospital-info h3:first-child {
  margin-top: 0;
}
/* line 668, ../scss/screen.scss */
#selection .hospital-info table, #selection .hospital-info ul {
  line-height: 150%;
}
/* line 672, ../scss/screen.scss */
#selection .hospital-info p {
  line-height: 1.25;
}
/* line 677, ../scss/screen.scss */
#selection .doctors {
  display: inline;
  float: left;
  margin-right: 0;
  width: 380px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #selection .doctors {
  overflow-x: hidden;
}
/* line 680, ../scss/screen.scss */
#selection .doctors .doctor {
  margin-bottom: 2em;
}
/* line 682, ../scss/screen.scss */
#selection .doctors .doctor h3 {
  margin-bottom: 5px;
}
/* line 689, ../scss/screen.scss */
#selection .ttop {
  display: inline;
  float: left;
  margin-right: 0;
  width: 700px;
  margin-bottom: 30px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #selection .ttop {
  overflow-x: hidden;
}
/* line 693, ../scss/screen.scss */
#selection .ttop h1 {
  margin-bottom: 10px;
}

/* line 699, ../scss/screen.scss */
.more-container {
  margin-top: 5px;
  height: 1em;
  position: relative;
}
/* line 704, ../scss/screen.scss */
.more-container .line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #b4b1b1;
}
/* line 713, ../scss/screen.scss */
.more-container .link {
  position: absolute;
  top: 0;
  right: 30px;
  padding: 0 10px;
  background-color: #fff;
}

/* line 722, ../scss/screen.scss */
td.dotted {
  background: url(../images/dots.png) repeat-x 0 50%;
}
/* line 725, ../scss/screen.scss */
td.dotted span {
  background-color: #fff;
  padding-right: 5px;
}

/* line 731, ../scss/screen.scss */
td.dotted + td {
  padding-left: 3px;
}

/* line 736, ../scss/screen.scss */
#checkout .page-container {
  padding-left: 240px;
  display: inline;
  float: left;
  margin-right: 20px;
  width: 540px;
}
/* line 139, ../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #checkout .page-container {
  overflow-x: hidden;
}
/* line 741, ../scss/screen.scss */
#checkout .checkout-form {
  background: #f6f4ed url(../images/noise50.png) repeat;
  padding: 20px;
}
/* line 745, ../scss/screen.scss */
#checkout .checkout-form .input-text {
  width: 220px;
}
/* line 749, ../scss/screen.scss */
#checkout .checkout-form h1 {
  margin-bottom: 20px;
}

/* line 756, ../scss/screen.scss */
.bubble {
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  background: #FFCC00;
  border: 4px solid #E8A800;
  position: absolute;
  top: 20px;
  line-height: 150%;
  right: 30px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px;
}

/* line 772, ../scss/screen.scss */
.gen-content {
  width: 620px;
  margin: 0 auto;
}
/* line 776, ../scss/screen.scss */
.gen-content h2 {
  margin-top: 2em;
  line-height: 1.5;
}
/* line 781, ../scss/screen.scss */
.gen-content h2:first-child {
  margin-top: 0;
}
/* line 785, ../scss/screen.scss */
.gen-content p {
  font-size: 15px;
  line-height: 150%;
}

/* line 792, ../scss/screen.scss */
footer {
  border-top: 1px solid #999;
  margin-top: 40px;
  padding: 10px;
  font-size: 11px;
  color: #999;
}

/* line 800, ../scss/screen.scss */
i {
  font-style: italic;
}

/* line 807, ../scss/screen.scss */
.ie6 .select-body,
.ie7 .select-body,
.ie8 .select-body {
  display: none;
}

/* line 813, ../scss/screen.scss */
.ie6 .select:hover .select-body,
.ie7 .select:hover .select-body,
.ie8 .select:hover .select-body {
  display: block;
}
