{% extends "base.html" %}

{% load filters %}

{% load webdesign %}

{% block content %}

<body>

  <div class="master-container">

	{% header %}

    <div class="gen-content" role="main">

		<h1>About Us</h1>

		<h2>About TripMedi</h2>
        <p>TripMedi is organizing the clutter in the medical tourism industry by making it easier to research and book world-class medical treatment at affordable prices. Unveiled at the 2011 South by Southwest Conference, TripMedi aggregates all available information about medical tourism – provider reputation, quality of facility, pricing, location, associated services – and presents options in a simple and intuitive way.</p>
		
		<h2>How is TripMedi different?</h2>
		<p>There are many medical tourism sources online – there is something for those seeking affordable, safe and high quality medical care. The problem is that it is difficult to understand and compare information across providers. Many providers are opaque. TripMedi is transparent and trustworthy. Others are highly facilitated providers which work with only a handful of hospitals around the world.  TripMedi aggregates information from a large range of suitable care options .  We fundamentally believe in delivering an elegant and simple user experience while supplying users with the tools to rate providers and document their experiences.</p>
	
	
		<br><br><br>
		<h1>Team</h1>

		<h2>Mike Caprio <i>@mik3cap</i></h2>
		<p>Mike is a software and database developer by trade, and a startup maven, currently co-founding several other ventures; he is principal and lead consultant at Brainewave Consulting.</p>

		<h2>Roland Dillon <i>@0rl4nd0</i></h2>
		<p>Roland is the brainchild behind TripMedi. A former lawyer and policymaker, Roland is currently completing an MPA at Columbia University as an Ambassadorial Scholar.</p>

		<h2>Igor Dolgalev <i>@dolgalev</i></h2>
		<p>Igor is a bioinformatician at Memorial Sloan-Kettering Cancer Center where he develops tools for management and analysis of high-throughput genomic sequencing data. He is a hacker and technophile by night, working on various web-based applications.</p>

		<h2>Cemre Gungor <i>@newinyork</i></h2>
		<p>User experience designer and web developer studying at NYU's Media Lab. Veteran of startups from Finland, Silicon Valley and New York.</p>

		<h2>Igor Lebovic <i>@ilebovic</i></h2>
		<p>Igor co-founded CalorieCount.com, which was acquired in 2006. Jack of all trades with strong product background.</p>

		<h2>Steve Schlafman <i>@schlaf</i></h2>
		<p>Steve is the ultimate business Swiss Army Knife. Prior to TripMedi, Steve has held a variety of Business Development, Strategy, Investing, and Finance roles at Microsoft, The Kraft Group / The New England Patriots, Massive Inc., and Stickybits.</p>

		<h2>Ravi Kotecha <i>@r4vi</i></h2>
		<p>Ravi is in the Financial services industry in the City of London, developing software for Standard Bank’s Global Markets’ Commodities Unit. Ravi has a strong background in all areas of technology and is active in the Python programming community.</p>

    </div>

    <div class="clearfix"></div>

	{% footer %}

  </div>

{% endblock %}