<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>TripMedi</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/screen.css">
  <link rel="stylesheet" href="/static/css/css.css">
  <script src="/static/js/libs/modernizr-1.7.min.js"></script>
	<script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
<meta name="title" content="TripMedi - Medical Tourism Search Engine" />
<meta name="description" content="NYC team TripMedi made it to StartupBus finals &amp; needs your support. Sign up and share on Facebook and Twitter!" />
	
</head>
<body>

<img src="/static/images/icon3.png" style="display: none;">

<p style="display: none;">NYC team TripMedi made it to StartupBus finals &amp; needs your support. Sign up and share on Facebook and Twitter!</p>


<div id="wrapper">

{% block content %}{% endblock %}

</div>


<script type="text/javascript">
var _sf_async_config={uid:21143,domain:"tripmedi.com"};
(function(){
  function loadChartbeat() {
    window._sf_endpt=(new Date()).getTime();
    var e = document.createElement('script');
    e.setAttribute('language', 'javascript');
    e.setAttribute('type', 'text/javascript');
    e.setAttribute('src',
       (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
       "js/chartbeat.js");
    document.body.appendChild(e);
  }
  var oldonload = window.onload;
  window.onload = (typeof window.onload != 'function') ?
     loadChartbeat : function() { oldonload(); loadChartbeat(); };
})();

</script>  

<!-- Start of Woopra Code -->
<script type="text/javascript">
var woo_settings = {idle_timeout:'300000', domain:'tripmedi.com'};
(function(){
var wsc = document.createElement('script');
wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
wsc.type = 'text/javascript';
wsc.async = true;
var ssc = document.getElementsByTagName('script')[0];
ssc.parentNode.insertBefore(wsc, ssc);
})();
</script>
<!-- End of Woopra Code -->


</body>
</html>