{% extends "base.html" %}

{% load filters %}

{% block content %}

<body id="checkout">
  <div class="master-container">

	{% header %}
		
	<div class="page-container" role="main">
		<div class="checkout-form">
			<h1>Inquire {{ provider_name }} for {{ procedure_name }}</h1>
				
			<p>Your inquiry has been sent to {{ provider_name }}, who will contact you shortly for an estimate and further steps.</p>
						
		</div>
	</div>
	
    <div class="clearfix"></div>

	{% footer %}

  </div> 

{% endblock %}