{% extends "base.html" %}

{% load filters %}

{% block content %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>

<script type="text/javascript" src="/static/fancybox/jquery.mousewheel-3.0.4.pack.js"></script>
<script type="text/javascript" src="/static/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="/static/fancybox/jquery.fancybox-1.3.4.css" media="screen" />

<script type="text/javascript">
$(document).ready(function() {
	$(".bubble").css("top", "-60px").delay("1000").animate({top: "20px"}, 2000);
});
</script>

<body id="homepage">

  <div class="master-container">

	{% header %}
	
    <div class="page-container" role="main">
    
    	<div class="splash">
    		<div class="splash-box">
    			<h1>Find quality healthcare<br>around the world.</h1>
    			<div class="select">
    				<div class="select-visible">
    					Pick a procedure...
    					<img class="circle" src="/static/images/ball.png">
    				</div>
    				<div class="select-body">


						{% for category in category_list%}
						<h3>{{ category.medical_category_name }}</h3>
						<div class="group">
				            {% for procedure in category.medicalcategory_procedures.all|slice:":3"  %}
							<a href="/procedure/{{ procedure.id }}/">{{ procedure.procedure_name }}</a>

				            {% endfor %}
						</div>
				        {% endfor %}

    				</div>    				
    			</div>
    			
    				<script type="text/javascript">
    					$(document).ready(function() {
    						/*
    						*   Examples - images
    						*/

$("#thevideo").click(function() {
                 $.fancybox({
                  'padding'             : 0,
                  'autoScale'   : false,
                  'transitionIn'        : 'none',
                  'transitionOut'       : 'none',
                  'title'               : this.title,
                  'width'               : 680,
                  'height'              : 495,
                  'href'                : this.href.replace(new RegExp("watch\\?v=", "i"), 'v/'),
                  'type'                : 'swf',    // <--add a comma here
                  'swf'                 : {'allowfullscreen':'true'} // <-- flashvars here
                  });
                 return false;

            }); 
            

    					});
    				</script>
    				
    			
    		</div>

<div class="splash-box2">
	<a href="http://www.youtube.com/watch?v=vTs-QSeq_sg&autoplay=1" id="thevideo">
	<img src="/static/images/video.png">
	</a>
</div>
    		
    	</div>
    	
    	
    	<div class="content-area">  		
			<div class="tagline">
				<h1>Medical tourism you can trust.</h1>
				<p>TripMedi takes all of the information available about <span class="highlight">medical&nbsp;tourism</span> &ndash; provider <span class="highlight">experience</span>, <span class="highlight">quality</span> of facility, prices, ease of travel, and puts it in a simple format that anyone can understand. <span style="color: #999">To begin, pick a procedure above.</span></p>
				<p>TripMedi was conceived on the <a href="http://www.startupbus.com" target="_blank">StartupBus</a><br />and will launch at SXSW 2011.</p>
			</div>
			
			<div class="faq">
				<h2>What is medical tourism?</h2>
				<p>Medical tourism (also called medical travel, health tourism or global healthcare) is a term initially coined by travel agencies and the mass media to describe the rapidly-growing practice of traveling across international borders to obtain heath care. <a href="/tourism">Read more »</a></p>
				
				<h2>Is it safe and reliable?</h2>
				<p>Just because something is more affordable doesn’t mean that it is lower quality and less safe. There are hundreds of international hospitals throughout the globe that have been accredited by Joint International Commission, which drives standards and evaluation methods designed to provide quantifiable benchmarks for patient care quality and safety. In fact, many international hospitals today seek accreditation as a way to attract international patients. <a href="/tourism">Read more »</a></p>
				
				<h2>Why should I travel to get healthcare?</h2>
				<p>The same or better quality treatment is available abroad. It typically costs less than half of what you would pay in the US – in some cases as low as 10%.  Many destinations offer a 5 star recovery experience as well.  <a href="/tourism">Read more »</a></p>
				
				<h2>How is TripMedi different than medical tourism agencies?</h2>
				<p>There are many medical tourism sites online – there is something for everybody. The problem is that it is really difficult to understand and compare information across providers. </p>
				
				<p>Some are opaque and shady. We are transparent and trustworthy.</p>
				
				<p>Others are highly facilitated providers which trust only a handful of hospitals around the world – we open up a large range of suitable care options (like Kayak) <a href="/tourism">Read more »</a></p>				
			</div>
    	</div>
    	
    	<aside>
			<div class="aside-content">
				<h1>Vote for us!</h1>
				
				<p style="font-size: 15px; line-height: 1.5;">We're competing in StartupBus! <br><a href="http://startupbus.com/teams/47-tripmedi">Go to this link</a>, register, find TripMedi and rate us!</p>
				
				
				
	
			</div>
			
					
			    	
    		<div class="aside-content">
    			<h1>Need help?</h1>
    			
    			<p>Our trained medical professionals offer you personalized consultation. Please fill out the form and we will contact you as soon as possible.</p>
    			
    			<form>
    				<label>Full name</label>
    				<input type="text" class="input-text" />
					<label>Email</label>
					<input type="text" class="input-text" />    				
					<label>Location</label>
					<input type="text" class="input-text" />
					<label class="long">If you feel comfortable, tell us about your medical condition and what sort of a treatment you are seeking.</label>
					<textarea></textarea>
					
					<a class="a-button large" href="/confirmation/1/1/">Send &raquo;</a>
    			</form>
    		</div>
    	</aside>
		
    </div>
    
    <div class="clearfix"></div>

	{% footer %}

  </div>

{% endblock %}
