{% extends "base.html" %}

{% load filters %}

{% block content %}

<body id="homepage">

  <div class="master-container">

	{% header %}
	
    <div class="page-container" role="main">
    
    	<div class="splash">
    		<div class="splash-box">
    			<h1>Find quality healthcare<br>around the world.</h1>
<!--    			<select>
    				<optgroup label="Cosmetic Surgery">
    					<option>Nip tuck</option>
    				</optgroup>
					<optgroup label="Medical Surgery">
						<option>Butt job</option>
					</optgroup>    				
    			</select>-->
    			<div class="select">
    				<div class="select-visible">
    					Pick a procedure...
    					<img class="circle" src="/static/images/ball.png">
    				</div>
    				<div class="select-body">
    				
						{% for category in category_list%}
						<h3>{{ category.medical_category_name }}</h3>
						<div class="group">
				            {% for procedure in category.medicalcategory_procedures.all|slice:":3"  %}
							<a href="/procedure/{{ procedure.id }}/">{{ procedure.procedure_name }}</a>
				
				            {% endfor %}
						</div>
				        {% endfor %}
										    				
    				</div>    				
    			</div>
    		</div>
    	</div>
    	
    	
    	<div class="content-area">  		
			<div class="tagline">
				<h1>Medical tourism you can trust.</h1>
				<p>TripMedi takes all of the information available about <span class="highlight">medical&nbsp;tourism</span> &ndash; provider <span class="highlight">experience</span>, <span class="highlight">quality</span> of facility, prices, ease of travel, and puts it in a simple format that anyone can understand. <span style="color: #999">To begin, pick a procedure above.</span></p>
				<p>TripMedi was conceived on the <a href="http://www.startupbus.com" target="_blank">StartupBus</a><br />and will launch at SXSW 2011.</p>
			</div>
			
			<div class="faq">
				<h2>What is medical tourism?</h2>
				<p>Medical tourism means crossing the border to obtain medical care. It is estimated that between 3 and 5 million people did this in 2010... <a href="">Read more »</a></p>
				
				<h2>Is it safe and reliable?</h2>
				<p>TripMedi uses three methods to establish the reputation of the provider: 
					<ul>
						<li>statistical data about number of procedures done every year, staff ratios, age of facilities, etc.</li>
						<li>Accreditation indexes (JCI, IHC)</li>
						<li>Recommendations from others</li>
					</ul>
				
				<a href="">Read more »</a></p>
				
				<h2>Why should I travel to get healthcare?</h2>
				<p>The same or better quality treatment is available abroad. It typically costs less than half of what you would pay in the US – in some cases as low as 10%.  Many destinations offer a 5 star recovery experience as well.  <a href="">Read more »</a></p>
				
				<h2>How is TripMedi different than medical tourism agencies?</h2>
				<p>There are many medical tourism sites online – there is something for everybody. The problem is that it is really difficult to understand and compare information across providers. </p>
				
				<p>Some are opaque and shady. We are transparent and trustworthy.</p>
				
				<p>Others are highly facilitated providers which trust only a handful of hospitals around the world – we open up a large range of suitable care options (like Kayak) <a href="">Read more »</a></p>				
			</div>
    	</div>
    	
    	<aside>
    		<div class="aside-content">
    			<h1>Need help?</h1>
    			
    			<p>Our trained medical professionals offer you personalized consultation. Please fill out the form and we will contact you as soon as possible.</p>
    			
    			<form>
    				<label>Full name</label>
    				<input type="text" class="input-text" />
					<label>Email</label>
					<input type="text" class="input-text" />    				
					<label>Location</label>
					<input type="text" class="input-text" />
					<label class="long">If you feel comfortable, tell us about your medical condition and what sort of a treatment you are seeking.</label>
					<textarea></textarea>
					
					<a class="a-button large">Send &raquo;</a>
    			</form>
    		</div>
    	</aside>
		
    </div>
    
    <div class="clearfix"></div>

	{% footer %}

  </div>

{% endblock %}