<body>
{{ procedure_name }} </br></br>
  <div class="master-container">
    <header>
    
    	<div class="logo">tripMedi</div>
    	
		<nav class="nav-main">
			<ul>
				<li><a href="#">Find healthcare</a></li>
			</ul>
		</nav>
		
		<nav class="nav-aux">
			<ul>
				<li>
					<a href="#">$ (USD)</a>
				</li>
				<li>
					<a href="#">Log in</a>
					·
					<a href="#">Sign up</a>
				</li>
			</ul>		
		</nav>
		
		<div class="clearfix"></div>
    </header>
    
    <div class="page-container" role="main">
				
		<aside>
		
			<div class="expert-box">
				<h3>Expert Opinion</h3>
			</div>			
			
			<div class="filter">
				<h3>Location</h3>
			</div>

			<div class="filter">
				<h3>Price</h3>
			</div>
			
			<div class="filter">
				<h3>Facility</h3>
			</div>			
			
		</aside>
		
		<div class="content-area">
		
			<div class="content-header">
				<h1>Breast Implant Operations</h1>
				
				<div class="sorter">
					Sorted by:
					<select>
					</select>
				</div>
				
				<div class="search-results">
					<div class="search-result">
						<h4 class="f-name">Name</h4>
						<div class="f-price">$900</div>
						<div class="f-description">2-sentence tagline</div>
						<div class="f-risk">20% risk</div>
						<a href="">Details »</a>
						<a href="">Compare »</a>
						<a href="">Book »</a>
					
					</div>
				</div>
				
			</div>
		</div>
		
    </div>
    
    <footer>

    </footer>
    
    <div class="clearfix"></div>
  </div> 
