{% extends "base.html" %}

{% load filters %}

{% block content %}

<body>

  <div class="master-container">

	{% header %}

    <div class="gen-content" role="main">

		<h1>TripMedi</h1>
		<h2>Taking The Pain Out of Medical Tourism</h2></br>
		<em>Thursday, March 10, 2010 - The Startup Bus, en route to SXSW</em></br></br>
		
		<p>Health care costs in the United States will increase at 6% a year for the next decade and procedures are becoming unaffordable for those who need them most.  Currently, when people research overseas options online, information is hard to find and harder to evaluate. That's exactly why TripMedi was created.</p>
		<p>TripMedi is making it easier to find and book world-class medical treatment at affordable prices. Launching at SXSW 2011, TripMedi aggregates all available information about medical tourism – provider reputation, quality of facility, pricing, location, associated services – and presents options in a simple and intuitive way.</p></br>
		<p>With a heavy focus on user experience and customer service, TripMedi identifies reputable providers of all kinds of popular surgical procedures. TripMedi gives people options they will understand and use when making important health decisions. Unlike many of other services online, it is not affiliated with any provider and is committed to providing the most relevant independent information.</p></br>
		<p>"It’s estimated that over 3 million people will travel abroad for medical care this year,” co-founder Roland Dillon said. "TripMedi makes it so much easier for them to find and book world-class medical care, usually for about 70% less than they would have paid at home."</p></br>
		<p>TripMedi was created as part of the Startupbus by Mike Caprio, Roland Dillon, Igor Dolgalev, Cemre Gungor, Ravi Kotecha, Igor Lebovic and Steve Schlafman.</p></br>
		<p>For more information on TripMedi, contact <a href="mailto:TripMedi@gmail.com">TripMedi@gmail.com</a>.</p>
		<br />
		<a href="/static/press/logo-big.png"><img src="/static/press/logo-big.png" width="203" height="83"><br>Download our logo</a>
    </div>

	{% footer %}

    <div class="clearfix"></div>
  </div>

{% endblock %}