{% extends "base.html" %}

{% load filters %}
{% load humanize %}
{% load unicrap %}

{% block content %}

<body>
  <div class="master-container">

	{% header %}
        
    <div class="page-container" role="main">
				
		<aside>
		
			<div class="aside-content">
			
				<div class="aside-part">
					<h3>Popular Destinations</h3>
					<p>{{ random_country_list }}</p>
					
					<img src="/static/images/map.png">
				</div>
	
				<div class="aside-part">
					<h3>Reputation</h3>
					<p>All providers we list are of equal or better quality to US institutions. <a href="">More info »</a></p>
				</div>
				
				<div class="aside-part">
					<h3>Estimated Cost</h3>
					<p>40%-60% savings</p>
					
					<img src="/static/images/cost-bar.png">
				</div>
	
				<div class="aside-part">
					<h3>Ease of Transit</h3>
					<p>Average flight times</p>
					
					<img src="/static/images/travel-bar.png">
				</div>
			</div>
										
		</aside>
		
		<div class="content-area">
		
			<div class="content-header">
				<h1>{{ selected_procedure.procedure_name }}</h1>
				
				<table class="results" cellpadding="0" cellspacing="0" border="0">
					<thead>
						<tr>
							<td class="p-name">
							</td>
							<td class="p-rep">
								Reputation
							</td>
							<td class="p-cost">
								Average<br>Cost
							</td>
							<td class="p-travel">
								Travel<br>time
							</td>
							<td class="p-buttons">
							</td>
						</tr>
					</thead>
					<tbody>
						<tr class="p-usa">
							<td class="p-name">
								Average treatment in<br/>
								<span class="p-loc">United States</span>
							</td>
							<td class="p-rep p-rep-2">
								<div class="p-rep-img"></div>
								<span class="p-exp">(average)</span>
							</td>
							<td class="p-cost p-cost-5">
								<div>
									${{ selected_procedure.united_states_comparative_price|floatformat:"0"|intcomma }}
								</div>
							</td>
							<td class="p-travel p-travel-1">
								<div class="p-travel-img">
									<img src="/static/images/plane.png"><span>none</span>
								</div>
							</td>
							<td class="p-buttons">
							</td>
						</tr>
						<tr>
							<td class="filter" colspan="5">
								<!--<div>
									5 results found, sorted by <span title="(Our algorithm that optimizes reputation, price and ease of transit.)">Comfort <sup>(?)</sup></span>
								</div>-->
							</td>
						</tr>
                        {% for result in poss_providers %}
						<tr>
							<td class="p-name">
								{{ result.provider.provider_name|unicrap }}<br/>
								<span class="p-loc">{{ result.provider.country.country_name }}</span>
								
															
							</td>
							<td class="p-rep p-rep-2">
								<div class="p-rep-img"></div>
							</td>
							<td class="p-cost p-cost-2">
								<div>
									${{ result.price|floatformat:"0"|intcomma }}
								</div>							
							</td>
							<td class="p-travel p-travel-4">
								<div class="p-travel-img">
									<img src="/static/images/plane.png"><span>{{ hours|random }}h</span>
								</div>
							</td>
							<td class="p-buttons">
								<a class="a-button" href="/selection/{{ selected_procedure.id }}/{{ result.id  }}/">
									Get info »
								</a>
															
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<!-- start disqus -->
            <div id="disqus_thread"></div>
            <script type="text/javascript">
                /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                var disqus_shortname = 'tripmedi'; // required: replace example with your forum shortname

                // The following are highly recommended additional parameters. Remove the slashes in front to use.
                var disqus_identifier = 'procedure_' + {{ selected_procedure.id }};
                //var disqus_url = 'http://example.com/permalink-to-page.html';
                //var disqus_developer = 1;

                /* * * DON'T EDIT BELOW THIS LINE * * */
                (function() {
                    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
             <!-- end disqus -->
			</div>
		</div>
		
    </div>
    
	{% footer %}
    
    <div class="clearfix"></div>
  </div>

{% endblock %}