<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>tripMedi</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/screen.css">
  <script src="js/libs/modernizr-1.7.min.js"></script>

</head>

<body>

  <div class="master-container">
    <header>
    
    	<div class="logo">tripMedi</div>
    	
		<nav class="nav-main">
			<ul>
				<li><a href="#">Find healthcare</a></li>
			</ul>
		</nav>
		
		<nav class="nav-aux">
			<ul>
				<li>
					<a href="#">$ (USD)</a>
				</li>
				<li>
					<a href="#">Log in</a>
					·
					<a href="#">Sign up</a>
				</li>
			</ul>		
		</nav>
		
		<div class="clearfix"></div>
    </header>
    
    <div class="page-container" role="main">
				
		<aside>
		
			<div class="expert-box">
				<h3>Expert Opinion</h3>
			</div>			
			
			<div class="filter">
				<h3>Location</h3>
			</div>

			<div class="filter">
				<h3>Price</h3>
			</div>
			
			<div class="filter">
				<h3>Facility</h3>
			</div>			
			
		</aside>
		
		<div class="content-area">
		
			<div class="content-header">
				<h1>Breast Implant Operations</h1>
				
				<div class="sorter">
					Sorted by:
					<select>
					</select>
				</div>
				
				<div class="search-results">
					<div class="search-result">
						<h4 class="f-name">Name</h4>
						<div class="f-price">$900</div>
						<div class="f-description">2-sentence tagline</div>
						<div class="f-risk">20% risk</div>
						<a href="">Details »</a>
						<a href="">Compare »</a>
						<a href="">Book »</a>
					
					</div>
				</div>
				
			</div>
		</div>
		
    </div>
    
    <footer>

    </footer>
    
    <div class="clearfix"></div>
  </div> 
  
  
  

<!--  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>-->
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end scripts-->

  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>