{% include '_html_header.html' %}
<body>

  <div class="master-container">

	navigation
	    
    <div class="page-container" role="main">
			
		<h2>What kind of a procedure are you looking for?</h2>
		
		
		<h3>Cosmetic operations</h3>
		<ul>
			<li><a href="">Nose surgery</a></li>
			<li><a href="">Facelift</a></li>
			<li><a href="">Hair transplant</a></li>			
			<li><a href="">Lip surgery</a></li>	
			<li><a href="">Breast augmentation/implant/reduction</a></li>									
			<li><a href="">Tummy tuck</a></li>				
			<li><a href="">Liposuction</a></li>				
		</ul>		


		<h3>Life Quality</h3>
		<ul>
			<li><a href="">Hip surgery/replacement</a></li>		
			<li><a href="">Knee, elbow, ankle surgery</a></li>
		</ul>		

		<h3>Advanced</h3>
		<ul>
			<li><a href="">Open heart surgery</a></li>		
			<li><a href="">Reproductive treatment</a></li>
			<li><a href="">Lap band</a></li>			
			<li><a href="">Gastric bypass</a></li>
		</ul>			
							
    </div>
    
	footer
	    
    <div class="clearfix"></div>
  </div>

{% include '_html_footer.html' %}