{% extends "base.html" %}

{% load filters %}

{% load webdesign %}

{% block content %}

<body>

  <div class="master-container">

	{% header %}

    <div class="gen-content" role="main">

		<h1>Medical Tourism</h1></br>

		<h2>What is medical tourism?</h2>
		<p>Medical tourism (also called medical travel, health tourism or global healthcare) is a term initially coined by travel agencies and the mass media to describe the rapidly-growing practice of traveling across international borders to obtain heath care.</p>
		
		<p>Medical tourism is an old cottage industry that is poised for 25-35% growth in the coming decade as the baby boomer population ages and people all over the globe search for high quality and trustworthy health care options at an affordable price.</p></br>
		
		<h2>Is it commonly practiced?</h2>
		<p>According to Josef Woodman, industry advocate and author of Patients Beyond Boarders, it is estimated that between 3 and 5 million global medical tourists crossed borders in 2010. Of these medical tourists, nearly 500,000 Americans ventured abroad for medical procedures.</p></br>
		
		<h2>What types of procedures are provided?</h2>
		<p>Services typically sought by travelers include elective procedures as well as complex specialized surgeries such as knee and hip replacement,  cardiac surgery, dental surgery, and cosmetic surgeries. However, virtually every type of health care, including psychiatry, alternative treatments, and even convalescent care are available.</p></br>
		
		<h2>Where does medical tourism exist?</h2>
		<p>Over 50 countries have identified medical tourism as a national industry.  Popular destinations include Brazil, India, Mexico, Thailand, and the Philippines.  However, accreditation by organizations such as the Joint Commission International and other measures of quality vary widely across the globe.</p></br>
		
		<h2>What are the cost savings?</h2>
		<p>Medical Tourism cost savings vary from one country to another due to a variety of factors.  Savings generally range from 30% to 70% which includes both the cost of the procedure as well travel and lodging.  For example, cardiac procedures can be obtained in India for 70% of the U.S. cost.  Additionally, Costa Rica offers 30% to 40% savings for dental and cosmetic surgery services.</p></br>
		
		<h2>Is medical tourism safe?</h2>
		<p>Just because something is more affordable doesn’t mean that it is lower quality and less safe. There are hundreds of international hospitals throughout the globe that have been accredited by Joint International Commission, which drives standards and evaluation methods designed to provide quantifiable benchmarks for patient care quality and safety. In fact, many international hospitals today seek accreditation as a way to attract international patients.</p></br>
				
    </div>

	{% footer %}

    <div class="clearfix"></div>
  </div>

{% endblock %}